.page.theme-dark {
    --main-weight-card: 465;
    --main-weight-card-title: 785;
    --background-color: #000000;
    --accent-color: #00CC14;
    --gradient-1: repeating-linear-gradient(#000 0px 1px, transparent 1px 2px),linear-gradient(180deg, #007f0c, #004306);
    --button-animaton: #00CC14;
}

.page.theme-light {
    --main-weight-card: 400;
    --main-weight-card-title: 700;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --gradient-1: repeating-linear-gradient(#d3d3d3 0px 1px, transparent 1px 2px),linear-gradient(180deg, #1a1a1a, #e7e7e7);
}

@media (prefers-color-scheme: dark) {
    .page {
        --main-weight-card: 465;
        --main-weight-card-title: 785;
        --background-color: #000000;
        --accent-color: #00CC14;
        --gradient-1: repeating-linear-gradient(#d3d3d3 0px 1px, transparent 1px 2px),linear-gradient(180deg, #1a1a1a, #e7e7e7);
    }
}